/********************************************************/
/*  SWITCH (used in Annotation.pm)                      */
/********************************************************/

.switch_on {
    font-size: 9pt;
    font-weight: normal;
    padding: 4px;
    margin: 2px;
    border: 1px inset black;
    background-color: #747474;
    cursor: pointer;
}

.switch_off {
    font-size: 9pt;
    font-weight: normal;
    padding: 4px;
    margin: 2px;
    border: 1px outset black;
    background-color: #d7d7d7;
    cursor: pointer;
    cursor: hand;
}

/*********************************************************/
/*   INFO TABLES (used in FigFamViewer.pm)               */
/*********************************************************/
table.info {
   border-style: solid;
   border-width: 1px;
   border-color: #0066CC;
   border-collapse: collapse;
}

/*th.info, td.info {
   border-style: solid;
   border-width: 1px;
   border-color: #0066CC;
   padding: 7px;
}*/


/*********************************************************/
/*   CHECKBOX (used in Evidence.pm)                      */
/*********************************************************/
input.smallcheck {
    height: 7px;
    width: 7px;
    color: red;
    font-size: 10px;
    font-weight: normal;
} 

.listbox {
    width:165px;
    font-size:100%;
}

div.scroll_hor {
     overflow:auto;
}

input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:95%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;
}

/*********************************************************/
/*   CODON TABLE (used in SequenceView.pm)               */
/*********************************************************/

div.codon {
    border:1px black solid;
    border-collapse:collapse;
    width:800px; 
    height:450px;
    overflow:auto;
}

table.codon_titles {
    border-spacing:0pt 3pt;
    font-size:80%;
    font-weight: normal;
    font-style: italic;
}


table.codon {
    border-spacing:0pt 3pt;
    font-size:80%;
    font-weight: normal;
}

tr.codon {
    padding:100px;    
}

td.codon {
    border-collapse:collapse;
    font-size: 11px;
    padding: 1px;
    width: 10px;
}

td.codon_start {
    background-color:#F0E68C;
    border-collapse:collapse;
    border: thin solid #F0E68C;
    font-size: 11px;
    padding: 1px;
    width: 10px;
}

td.sd_start {
    background-color:#90EE90;
    border-collapse:collapse;
    border: thin solid #90EE90;
    font-size: 11px;
    padding: 1px;
    width: 10px;
}

td.protein_start {
    background-color:#87CEFA;
    border-collapse:collapse;
    border-top-width:thin;
    border-left-width:thin; 
    border-bottom-width:thin; 
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid; 
    border-top-color: #4682B4;
    border-left-color: #4682B4;
    border-bottom-color: #4682B4;
}

td.protein_end {
    background-color:#87CEFA;
    border-collapse:collapse; 
    border-top-width:thin; 
    border-right-width:thin; 
    border-bottom-width:thin; 
    border-top-style: solid; 
    border-bottom-style: solid; 
    border-right-style: solid; 
    border-top-color: #4682B4;
    border-bottom-color: #4682B4; 
    border-right-color: #4682B4;
}

td.protein_middle {
    background-color:#87CEFA; 
    border-collapse:collapse; 
    border-top-width:thin; 
    border-bottom-width:thin; 
    border-left-width:thin; 
    border-right-width:thin; 
    border-top-style:solid; 
    border-bottom-style:solid; 
    border-left-style:solid; 
    border-right-style:solid; 
    border-top-color: #4682B4;
    border-bottom-color: #4682B4; 
    border-right-color: #87CEFA;
    border-left-color: #87CEFA;
}

td.main_protein_start {
    background-color:#CD5C5C;
    border-collapse:collapse;
    border-top-width:thin;
    border-left-width:thin; 
    border-bottom-width:thin; 
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid; 
    border-top-color: #4682B4;
    border-left-color: #4682B4;
    border-bottom-color: #4682B4;
}

td.main_protein_end {
    background-color:#CD5C5C;
    border-collapse:collapse; 
    border-top-width:thin; 
    border-right-width:thin; 
    border-bottom-width:thin; 
    border-top-style: solid; 
    border-bottom-style: solid; 
    border-right-style: solid; 
    border-top-color: #4682B4;
    border-bottom-color: #4682B4; 
    border-right-color: #4682B4;
}

td.main_protein_middle {
    background-color:#CD5C5C; 
    border-collapse:collapse; 
    border-top-width:thin; 
    border-bottom-width:thin; 
    border-left-width:thin; 
    border-right-width:thin; 
    border-top-style:solid; 
    border-bottom-style:solid; 
    border-left-style:solid; 
    border-right-style:solid; 
    border-top-color: #4682B4;
    border-bottom-color: #4682B4; 
    border-right-color: #CD5C5C;
    border-left-color: #CD5C5C;
}

td.protein_none {
    background-color:white;
    border-collapse:collapse;
    border-top-width:thin;
    border-bottom-width:thin;
    border-left-width:thin;
    border-right-width:thin;
    border-top-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-top-color: white;
    border-bottom-color: white;
    border-right-color: white;
    border-left-color: white;
}

th.aname {
    width: 10em;
}

td.amenu {
    width: 30em;
}

td.abutton {
    width: 10em;
}
