<body>
<div id="header">
  <span id="logo">
  <img height="95px" src="./Html/seed-logo-green.png" alt="The SEED" />
  </span>
  <p>
  <span id="title">
  <img height="40px" src="./Html/TheModelSEED.png" alt="The Model SEED" />
  </span>
  <span id="version">Model SEED version 1.0</span>
  </p>
  <p>Welcome to the Model SEED - a resource for the generation, optimization, curation, and analysis of genome-scale metabolic models. <br/>
  For more information about The SEED please visit <a href="http://www.theseed.org">theSEED.org.</a></p>
</div>

<div id="topbar">
  <table style="width: 100%; border-spacing: 0px;">
    <tr>
      <td style='width: 100%; padding: 0px;'>
	<TMPL_IF NAME="MENU">
	  <TMPL_VAR NAME="MENU">
	</TMPL_IF>
      </td>
      <td style="text-align: right; padding: 0px;">
	<TMPL_IF NAME="USER">
	  <TMPL_VAR NAME="USER">
	</TMPL_IF>
      </td>
    </tr>
  </table>
</div>


 <TMPL_IF NAME="WARNINGS">
  <div id="warning">
    <TMPL_LOOP NAME="WARNINGS">
     <p class="warning"> <strong> Warning: </strong> <TMPL_VAR NAME="MSG"> </p>
     </TMPL_LOOP>
  </div>
  </TMPL_IF>

  <TMPL_IF NAME="INFO">
  <div id="info">
     <TMPL_LOOP NAME="INFO">
     <p class="info"> <strong> Info: </strong> <TMPL_VAR NAME="MSG"> </p>
     </TMPL_LOOP>
  </div>
  </TMPL_IF>
  
  <div id="content">
    <TMPL_VAR NAME="CONTENT">
  </div>
    
</body>
